header {
  align-items: center;
  background-color: #d49726;
  color: #fff;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  justify-content: center;
  padding: 30px 0;
  text-decoration: none;
}
